.carousel {
  margin: 30px auto;
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.carousel__body {
  color: #fff;
  width: 100%;
  height: 150px;
  left: 0;
  line-height: 150px;
  position: absolute;
  text-align: center;
  top: 0;
}

.showNext-enter-active,
.showNext-leave-active,
.showPrev-enter-active,
.showPrev-leave-active {
  transition: all .4s;
}

.showNext-enter,
.showPrev-leave-to {
  transform: translateX(100%);
}

.showNext-leave-to,
.showPrev-enter {
  transform: translateX(-100%);
}

.detailText {
  width: 500px;
  margin: 0 auto;
}